.addStaffContainer{
    width: calc(100vw - 250px );
    padding:10px;
    .diff-bg{
        background-color: #F2F5F8;
    }
    .name{
        text-align: center;
        margin: 20px 0;
        font-weight: 900;
    }
    input{
        width: 80%;
        height: 39px;
        border-radius: 10px;
        border: 1px solid #DEE2E6;
    }
    label{
        width: 20%;
    }
    .input-feilds{
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        padding: 7px;
        font-size: 1rem;
    }
    input[type="text"] {
        font-size:1rem;
        padding: 0 5px;
    }
    input[type="password"] {
        font-size:1rem;
        padding: 0 5px;
    }
    // textare[type="text"] {
    //     font-size:1rem;
    //     padding: 0 5px;
    // }
    .btn{
        display: block;
        width: 70%;
        height: 40px;
        border-radius: 10px;
        margin: 10px auto;
    }
    .btn-clr{
        color: white;
        border: none;
        // background: linear-gradient(27.65deg,#8e5bda 8.18%,#ad6be0 63.38%,#c275dc 91.82%);
        // background: linear-gradient(90deg, #6149cd, #a654ac 55.2%, #5CDDD3 99.62%);
        background: rgb(1,86,181);
background: radial-gradient(circle, rgba(1,86,181,1) 39%, rgba(0,204,255,1) 100%);
background: rgb(1,86,181);
background: linear-gradient(76deg, rgba(1,86,181,1) 39%, rgba(0,204,255,1) 100%);
    }
}